<?xml version="1.0"?>
<opnsense>
  <version>23.7</version>
  <lastchange></lastchange>
  <system>
    <optimization>normal</optimization>
    <hostname>opnsense</hostname>
    <domain>local</domain>
    <dnsallowoverride>1</dnsallowoverride>
    <group>
      <name>admins</name>
      <description>System Administrators</description>
      <scope>system</scope>
      <gid>1998</gid>
      <member>0</member>
      <priv>page-all</priv>
    </group>
    <user>
      <name>root</name>
      <descr>System Administrator</descr>
      <scope>system</scope>
      <groupname>admins</groupname>
      <password>$2y$10$YRVoF4SgskIsrXOvOQjGieB9XqHPRra9R7d80B3BZdbY/j21TwBfS</password>
      <uid>0</uid>
    </user>
    <nextuid>2000</nextuid>
    <nextgid>2000</nextgid>
    <timezone>{{ timezone }}</timezone>
    <timeservers>pool.ntp.org</timeservers>
    <webgui>
      <protocol>https</protocol>
      <ssl-certref>61c0c8b8e5d8b</ssl-certref>
      <port></port>
      <ssl-ciphers></ssl-ciphers>
      <interfaces></interfaces>
      <compression>6</compression>
    </webgui>
    <disablenatreflection>yes</disablenatreflection>
    <usevirtualterminal>1</usevirtualterminal>
    <disableconsolemenu></disableconsolemenu>
    <disablechecksumoffloading>1</disablechecksumoffloading>
    <disablesegmentationoffloading>1</disablesegmentationoffloading>
    <disablelargereceiveoffloading>1</disablelargereceiveoffloading>
    <ipv6allow></ipv6allow>
    <powerd_ac_mode>hadp</powerd_ac_mode>
    <powerd_battery_mode>hadp</powerd_battery_mode>
    <bogons>
      <interval>monthly</interval>
    </bogons>
    <kill_states></kill_states>
    <skip_rules_gw_down></skip_rules_gw_down>
    <use_mfs_tmpvar>1</use_mfs_tmpvar>
    <use_mfs_tmp_size>40</use_mfs_tmp_size>
    <use_mfs_var_size>60</use_mfs_var_size>
    <firmware>
      <mirror></mirror>
      <flavour></flavour>
    </firmware>
  </system>
  <interfaces>
    <wan>
      <enable>1</enable>
      <if>vtnet1</if>
      <mtu></mtu>
      <ipaddr>dhcp</ipaddr>
      <ipaddrv6>dhcp6</ipaddrv6>
      <subnet></subnet>
      <gateway></gateway>
      <blockpriv>1</blockpriv>
      <blockbogons>1</blockbogons>
      <dhcphostname></dhcphostname>
      <media></media>
      <mediaopt></mediaopt>
      <dhcp6-ia-pd-len>0</dhcp6-ia-pd-len>
    </wan>
    <lan>
      <enable>1</enable>
      <if>vtnet0</if>
      <ipaddr>{{ opnsense_lan_ip }}</ipaddr>
      <subnet>24</subnet>
      <ipaddrv6>track6</ipaddrv6>
      <subnetv6>64</subnetv6>
      <media></media>
      <mediaopt></mediaopt>
      <track6-interface>wan</track6-interface>
      <track6-prefix-id>0</track6-prefix-id>
    </lan>
    <lo0>
      <internal_dynamic>1</internal_dynamic>
      <descr>Loopback</descr>
      <enable>1</enable>
      <if>lo0</if>
      <ipaddr>127.0.0.1</ipaddr>
      <ipaddrv6>::1</ipaddrv6>
      <subnet>8</subnet>
      <subnetv6>128</subnetv6>
      <type>none</type>
      <virtual>1</virtual>
    </lo0>
  </interfaces>
  <dhcpd>
    <lan>
      <enable>1</enable>
      <ddnsdomainalgorithm>hmac-md5</ddnsdomainalgorithm>
      <numberoptions>
        <item></item>
      </numberoptions>
      <range>
        <from>10.0.0.100</from>
        <to>10.0.0.200</to>
      </range>
      <winsserver></winsserver>
      <dnsserver></dnsserver>
      <ntpserver></ntpserver>
    </lan>
  </dhcpd>
  <unbound>
    <enable>1</enable>
    <port>53</port>
    <stats>1</stats>
    <active_interface></active_interface>
    <dnssec>1</dnssec>
    <dns64>1</dns64>
    <dns64prefix>64:ff9b::/96</dns64prefix>
    <noarecords>1</noarecords>
    <regdhcp>1</regdhcp>
    <regdhcpdomain>local</regdhcpdomain>
    <regdhcpstatic>1</regdhcpstatic>
    <noreglladdr6>1</noreglladdr6>
    <noregrecords>1</noregrecords>
    <txtsupport>1</txtsupport>
    <cacheflush>1</cacheflush>
    <local-zone>
      <type>transparent</type>
      <zone>10.in-addr.arpa</zone>
    </local-zone>
  </unbound>
  <snmpd>
    <syslocation></syslocation>
    <syscontact></syscontact>
    <rocommunity>public</rocommunity>
  </snmpd>
  <nat>
    <outbound>
      <mode>automatic</mode>
    </outbound>
  </nat>
  <filter>
    <rule>
      <type>block</type>
      <ipprotocol>inet</ipprotocol>
      <descr>Block private networks on WAN interface</descr>
      <interface>wan</interface>
      <source>
        <network>(self)</network>
      </source>
      <destination>
        <network>wanip</network>
      </destination>
    </rule>
    <rule>
      <type>block</type>
      <ipprotocol>inet</ipprotocol>
      <descr>Block bogon networks on WAN interface</descr>
      <interface>wan</interface>
      <source>
        <network>(self)</network>
      </source>
      <destination>
        <network>wanip</network>
      </destination>
    </rule>
  </filter>
  <rrd>
    <enable></enable>
  </rrd>
  <load_balancer>
    <monitor_type>
      <name>ICMP</name>
      <type>icmp</type>
      <descr>ICMP</descr>
      <options></options>
    </monitor_type>
    <monitor_type>
      <name>TCP</name>
      <type>tcp</type>
      <descr>Generic TCP</descr>
      <options></options>
    </monitor_type>
  </load_balancer>
  <ntpd>
    <prefer>pool.ntp.org</prefer>
  </ntpd>
  <widgets>
    <sequence>system_information-container:00000000-col3:show,services_status-container:00000001-col4:show,gateways-container:00000002-col4:show,interface_list-container:00000003-col4:show</sequence>
    <column_count>2</column_count>
  </widgets>
  <revision>
    <username>root@{{ ansible_hostname }}</username>
    <time>{{ ansible_date_time.epoch }}</time>
    <description>Initial configuration via Ansible</description>
  </revision>
</opnsense>
